<template name="login">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">KMI+</h1>

            </div>
            <h3>Welcome to KMI+</h3>
            <p>KMI Initiative calculation System
            </p>
            <p>Login in..</p>
            {{> loginButtons}}
            <p class="m-t"> <small>Mahindra & Mahindra  &copy; 2017</small> </p>
        </div>
    </div>
</template>