<template name="mainLayout">
    {{#if currentUser}}
    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        {{> navigation }}

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Page wrapper -->
            {{> topNavbar }}

            <!-- Main view  -->
            {{>Template.dynamic template=content}}

            <!-- Footer -->
            {{> footer }}

        </div>
        <!-- End page wrapper-->

        <!-- Right Sidebar -->
        {{> rightSidebar }}

    </div>
        {{else}}
        {{> login }}
    {{/if}}
    <!-- End wrapper-->

</template>