<template name="coeKmiParameterList">

    <!-- Page heading -->
    {{> pageHeading title='KMI List'}}
    <div class="p-w-md m-t-sm">
        <div class="row">

            <div class="col-sm-4">
                <h1 class="m-b-xs">
                    26,900
                </h1>
                <small>
                    Submission Current Year
                </small>
                <div id="sparkline1" class="m-b-sm"></div>
                <div class="row">
                    <div class="col-xs-4">
                        <small class="stats-label">Patents</small>
                        <h4>236</h4>
                    </div>

                    <div class="col-xs-4">
                        <small class="stats-label">% Increase</small>
                        <h4>46.11%</h4>
                    </div>
                    <div class="col-xs-4">
                        <small class="stats-label">Last Year</small>
                        <h4>432</h4>
                    </div>
                </div>

            </div>
            <div class="col-sm-4">
                <h1 class="m-b-xs">
                    98,100
                </h1>
                <small>
                    Submission Last Quater
                </small>
                <div id="sparkline2" class="m-b-sm"></div>
                <div class="row">
                    <div class="col-xs-4">
                        <small class="stats-label">Patents</small>
                        <h4>166</h4>
                    </div>

                    <div class="col-xs-4">
                        <small class="stats-label">% Increase</small>
                        <h4>22.45%</h4>
                    </div>
                    <div class="col-xs-4">
                        <small class="stats-label">Last Month Score</small>
                        <h4>862</h4>
                    </div>
                </div>


            </div>
            <div class="col-sm-4">

                <div class="row m-t-xs">
                    <div class="col-xs-6">
                        <h5 class="m-b-xs">Income last month</h5>

                        <h1 class="no-margins">160,000</h1>

                        <div class="font-bold text-navy">98% <i class="fa fa-bolt"></i></div>
                    </div>
                    <div class="col-xs-6">
                        <h5 class="m-b-xs">Sals current year</h5>

                        <h1 class="no-margins">42,120</h1>

                        <div class="font-bold text-navy">98% <i class="fa fa-bolt"></i></div>
                    </div>
                </div>


                <table class="table small m-t-sm">
                    <tbody>
                    <tr>
                        <td>
                            <strong>142</strong> Projects

                        </td>
                        <td>
                            <strong>22</strong> Messages
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <strong>61</strong> Comments
                        </td>
                        <td>
                            <strong>54</strong> Articles
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>154</strong> Companies
                        </td>
                        <td>
                            <strong>32</strong> Clients
                        </td>
                    </tr>
                    </tbody>
                </table>


            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="small pull-left col-md-3 m-l-lg m-t-md">
                    <strong>Sales char</strong> have evolved over the years sometimes.
                </div>
                <div class="small pull-right col-md-3 m-t-md text-right">
                    <strong>There are many</strong> variations of passages of Lorem Ipsum available, but the majority
                    have suffered.
                </div>
                <div class="flot-chart m-b-xl">
                    <div class="flot-chart-content" id="flot-dashboard5-chart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="quick_search">Quick Search</label>

                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span><input type="text"
                                                                                                      class="form-control"
                                                                                                      value="">
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-md-2 pull-right add_btn mt30">
                    <a class="btn btn-w-m btn-primary" href="/kmi">Add KMI</a>
                </div>
            </div>


        </div>
        <div class="row mt20">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="table-responsive">

                            <!--
			<table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
									<thead>
									<tr>

										<th>Date of Join</th>
										<th>Community Name</th>
                    <th>Contact Person</th>
										<th >City</th>
										<th>No. of Users</th>
										<th >Status</th>
										<th data-sort-ignore="true">Action</th>

									</tr>
									</thead>
									<tbody>
									<tr>
										<td>20 April , 2016</td>
										<td>Community 1</td>
										<td> Person Name</td>
										<td>Bangalore</td>
										<td>1</td>
                    <td>Active</td>
										<td>
											<a href="{{pathFor route='editCommunityProfile'}}"><i class="fa fa-pencil-square-o text-navy"></i></a>

										</td>
									</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="9">
												<ul class="pagination pull-right"></ul>
											</td>
										</tr>
									</tfoot>
								</table>
-->

                            {{> reactiveTable collection=myCollection fields=kmiFields}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
