<template name="dashboard2">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Select Division And COE </h5>
                        {{>iboxTools}}
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-3">
                                <p>
                                    Select Division
                                </p>
                                <select class="select2_demo_1 form-control" name="dDivision" id="dDivision">
                                    {{#each divisionList}}
                                        <option value={{value}}>{{value}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="col-md-3">
                                <p>
                                    Select COE
                                </p>
                                <select class="select2_demo_3 form-control" name="dCOE">
                                    <option></option>
                                    {{#each coeList}}
                                        <option value={{value}}>{{value}}</option>
                                    {{/each}}
                                </select>

                            </div>
                            <div class="col-md-3">
                                <p>
                                    Select Period
                                </p>
                                <select class="select2_demo_4 form-control" name="dPeriod">
                                    <option></option>
                                    {{#each periodList}}
                                        <option value={{value}}>{{value}}</option>
                                    {{/each}}
                                </select>

                            </div>
                            <div class="col-md-3">
                                <br>
                                <p>
                                    <button type="button" class="btn btn-block btn-outline btn-primary" id="viewResult">View Result</button>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {{#each getKmi}}
             {{>chartTemplate}}
        {{/each}}
    </div>
</template>

<template name="chartTemplate">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>KMI </h5>

                    <div class="pull-right">
                        <div class="btn-group">
                            <span  class="btn btn-xs btn-white ">Quarter : {{Quarter}}</span>
                            <span  class="btn btn-xs btn-white"> Team Size : {{teamSize}}</span>
                            <span  class="btn btn-xs btn-white"> Period : {{period}}</span>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-9">
                            <div>
                                <canvas class="barChart" height="140"></canvas>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <ul class="stat-list">
                                <li>
                                    <h2 class="no-margins">{{getScore}}</h2>
                                    <small>KMI Score for {{Quarter}} {{period}}</small>
                                </li>
                                {{#each getScoreData}}
                                    <li>
                                        <h2 class="no-margins">{{grpScore}}</h2>
                                        <small>{{grpName}}</small>
                                    </li>
                                {{/each}}

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</template>