<template name="kmiCOEUpdateForm">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>KMI Input Form</h5>
                    {{>iboxTools}}
                </div>
                <div class="ibox-content">
                    {{# autoForm collection="MNM.Collections.KmiCOEInfo" id="kmiCOEFormId" type='update' doc=curdoc omitFields="KMIGroupsInfo"}}
                        {{> afQuickFields}}

                        <div>
                            <button class="btn btn-sm btn-white" type="submit">Submit</button>
                        </div>
                    {{/autoForm}}
                </div>
            </div>
        </div>
    </div>
</template>