<template name="kmiCOESetupUpdateForm">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>KMI COE Setup Form</h5>
                    {{>iboxTools}}
                </div>
                <div class="ibox-content">
                    {{# autoForm collection="MNM.Collections.KmiCOEInfo" doc=curdoc id="kmiCOESetupFormId" type='update' omitFields="KMIGroupsForCOE"}}
                        {{> afQuickField name="division"}}
                        {{> afQuickField name="coe"}}
                        {{> afQuickField name="teamSize"}}

                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                {{#afEachArrayItem name="KMIGroupsInfo" minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">

                                                {{> afQuickField name=this.current.parameterGroupName label=false options=afOptionsFromSchema readOnly=true}}
                                            </h5>
                                            {{> afQuickField name=this.current.groupWeightage }}

                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                {{#afEachArrayItem name=this.current.groupParameters minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                                                    <div>

                                                        <span>
                                                            {{> afQuickField name=this.current.parameterName  options=afOptionsFromSchema}}
                                                        </span>
                                                        <span>
                                                            {{> afQuickField name=this.current.parameterWeightage  options=afOptionsFromSchema}}
                                                        </span>
                                                    </div>

                                                    <table class="footable table table-stripped toggle-arrow-tiny"
                                                           data-page-size="8">
                                                        <thead>
                                                        <tr>
                                                            <th data-toggle="true">Type Of Measure</th>
                                                            <th>Description</th>
                                                            <th>Weightage</th>
<!--
                                                            <th>Min Exp Qty</th>
-->
                                                            <th>Scoring Method</th>

                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {{#afEachArrayItem name=this.current.measure minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                                                            <tr>
                                                                <td>
                                                                    {{> afQuickField name=this.current.typeOfMeasure label=false }}

                                                                </td>
                                                                <td>
                                                                    {{> afQuickField name=this.current.measureDescription label=false options=afOptionsFromSchema}}

                                                                </td>
                                                                <td>
                                                                    {{> afQuickField name=this.current.measureWeightage label=false options=afOptionsFromSchema}}

                                                                </td>
                                                                <!--<td>
                                                                    {{> afQuickField name=this.current.minimumExpectedQty label=false}}

                                                                </td>-->
                                                                <td>
                                                                    {{> afQuickField name=this.current.typeOfScore label=false}}

                                                                </td>

                                                            </tr>

                                                            <tr>
                                                                <th>Scoring Criteria</th>

                                                                <th>Start</th>
                                                                <th>End</th>
                                                                <th>Score</th>
                                                            </tr>

                                                            {{#afEachArrayItem name=this.current.scoringCriteria}}
                                                                <tr>
                                                                    <td>{{this.atts.minCount}} - {{this.atts.maxCount}}</td>
                                                                    <td>
                                                                        {{> afQuickField name=this.current.startRange label=false options=afOptionsFromSchema}}

                                                                    </td>
                                                                    <td>
                                                                        {{> afQuickField name=this.current.endRange label=false options=afOptionsFromSchema}}

                                                                    </td>
                                                                    <td>
                                                                        {{> afQuickField name=this.current.score label=false options=afOptionsFromSchema}}

                                                                    </td>
                                                                    <td>

                                                                    </td>
                                                                </tr>
                                                            {{/afEachArrayItem}}
                                                            <td>


                                                                {{#if afArrayFieldHasLessThanMaximum name=this.current.scoringCriteria minCount=1 maxCount=''}}


                                                                    <button type="button"
                                                                            class="btn btn-primary autoform-add-item"
                                                                            data-autoform-field="{{this.current.scoringCriteria}}"
                                                                                    data-autoform-minCount="{{this.atts.minCount}}"
                                                                            data-autoform-maxCount="{{this.atts.maxCount}}"><span
                                                                            class="">Add Row</span>
                                                                    </button>


                                                                {{/if}}
                                                            </td>
                                                            <tr>
                                                                <td colspan="3">
                                                                {{> afQuickField name=this.current.expectedQuantityEval}}
                                                                </td>

                                                            </tr>
                                                        {{/afEachArrayItem}}

                                                        </tbody>
                                                    </table>
                                                {{/afEachArrayItem}}

                                            </div>
                                        </div>
                                    </div>
                                {{/afEachArrayItem}}

                            </div>
                        </div>




                        <div>
                            <button class="btn btn-sm btn-white" type="submit">Submit</button>
                        </div>
                    {{/autoForm}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="customObjectField">
    <th><input type="text" value="test"></th>
    <th><input type="text" value="test3"></th>
</template>