<template name="kmiParameterList">

    <!-- Page heading -->
    {{> pageHeading title='KMI List'}}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="quick_search">Quick Search</label>

                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span><input type="text"
                                                                                                      class="form-control"
                                                                                                      value="">
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-md-2 pull-right add_btn mt30">
                    <a class="btn btn-w-m btn-primary" href="/kmi">Add KMI</a>
                </div>
            </div>


        </div>
        <div class="row mt20">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="table-responsive">

                            <!--
			<table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
									<thead>
									<tr>

										<th>Date of Join</th>
										<th>Community Name</th>
                    <th>Contact Person</th>
										<th >City</th>
										<th>No. of Users</th>
										<th >Status</th>
										<th data-sort-ignore="true">Action</th>

									</tr>
									</thead>
									<tbody>
									<tr>
										<td>20 April , 2016</td>
										<td>Community 1</td>
										<td> Person Name</td>
										<td>Bangalore</td>
										<td>1</td>
                    <td>Active</td>
										<td>
											<a href="{{pathFor route='editCommunityProfile'}}"><i class="fa fa-pencil-square-o text-navy"></i></a>

										</td>
									</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="9">
												<ul class="pagination pull-right"></ul>
											</td>
										</tr>
									</tfoot>
								</table>
-->

                            {{> reactiveTable collection=myCollection fields=kmiFields}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
