<template name="kmiParameterInsertForm">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>KMI Parameter Input Form</h5>
                    {{>iboxTools}}
                </div>
                <div class="ibox-content">
                    {{# autoForm collection="MNM.Collections.KmiGroups" id="kmiParameterInsertFormId" type='insert'}}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">

                                        {{> afQuickField name="parameterGroupName"  options=afOptionsFromSchema }}
                                </h5>
                            </div>

                            <div id="collapseOne">
                                <div class="panel-body">
                                    {{#afEachArrayItem name="groupParameters" minCount=0 maxCount=''}}
                                     <div class="well">   <div >

                                            <span>
                                                {{> afQuickField name=this.current.parameterName  options=afOptionsFromSchema}}

                                            </span>
                                            <span>
                                                {{#if afArrayFieldHasMoreThanMinimum name="groupParameters" minCount=1 maxCount=''}}
                                                    <button type="button" class="btn btn-primary autoform-remove-item"><span
                                                            > Remove</span></button>
                                                {{/if}}
                                            </span>
                                        </div>

                                        <table class="footable table table-stripped toggle-arrow-tiny"
                                               data-page-size="8">
                                            <thead>
                                            <tr>
                                                <th data-toggle="true">Type Of Measure</th>
                                                <th>Description</th>
                                                <th>Weightage</th>
<!--
                                                <th>Min Exp Qty</th>
-->
                                                <th>Scoring Method</th>
                                                <th>Action</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#afEachArrayItem name=this.current.measure minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                                                <tr>
                                                    <td>
                                                        {{> afQuickField name=this.current.typeOfMeasure label=false }}

                                                    </td>
                                                    <td>
                                                        {{> afQuickField name=this.current.measureDescription label=false options=afOptionsFromSchema}}

                                                    </td>
                                                    <td>
                                                        {{> afQuickField name=this.current.measureWeightage label=false options=afOptionsFromSchema}}

                                                    </td>
                                                   <!-- <td>
                                                        {{> afQuickField name=this.current.minimumExpectedQty label=false}}

                                                    </td>-->
                                                    <td>
                                                        {{> afQuickField name=this.current.typeOfScore label=false}}

                                                    </td>
                                                    <td>
                                                        {{#if afArrayFieldHasMoreThanMinimum name="groupParameters.0.measure" minCount=0 maxCount=''}}
                                                            <button type="button" class="btn btn-primary autoform-remove-item"><span
                                                                    > Remove</span></button>
                                                        {{/if}}
                                                    </td>
                                                </tr>

                                            {{/afEachArrayItem}}
                                            {{#if afArrayFieldHasLessThanMaximum name=this.current.measure minCount=1 maxCount=''}}


                                                <button type="button"
                                                        class="btn btn-primary autoform-add-item"
                                                        data-autoform-field="{{this.current.measure}}"
                                                        data-autoform-minCount="{{this.atts.minCount}}"
                                                        data-autoform-maxCount="{{this.atts.maxCount}}"><span
                                                        class="">Add Measure</span>
                                                </button>


                                            {{/if}}
                                            </tbody>
                                        </table>
                                     </div>
                                    {{/afEachArrayItem}}
                                    <div>
                                        {{#if afArrayFieldHasLessThanMaximum name="groupParameters" minCount=1 maxCount=''}}


                                            <button type="button"
                                                    class="btn btn-primary autoform-add-item"
                                                    data-autoform-field="groupParameters"
                                                    data-autoform-minCount="{{this.atts.minCount}}"
                                                    data-autoform-maxCount="{{this.atts.maxCount}}"><span
                                                    class="">Add Parameter</span>
                                            </button>


                                        {{/if}}
                                </div>

                                </div>
                            </div>
                        </div>

                        <div>
                            <button class="btn btn-sm btn-white" type="submit">Submit</button>
                        </div>
                    {{/autoForm}}
                </div>
            </div>
        </div>
    </div>
</template>