<template name="kmiUpdateForm">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>KMI Input Form</h5>
                    {{>iboxTools}}
                </div>
                <div class="ibox-content">
                    <!--{{# autoForm collection="MNM.Collections.Kmi" id="kmiUpdateFormId" type='update' doc=curdoc}}
                        {{> afQuickFields}}

                        <div>
                            <button class="btn btn-sm btn-white" type="submit">Submit</button>
                        </div>
                    {{/autoForm}}-->
                    {{# autoForm collection="MNM.Collections.Kmi" doc=curdoc id="kmiUpdateFormId" type='update'}}
                        {{> afQuickField name="division"}}
                        {{> afQuickField name="coe"}}
                        {{> afQuickField name="teamSize"}}
                        {{> afQuickField name="period"}}
                        {{> afQuickField name="Quarter"}}


                        <div class="panel-body groupInfo">
                            <div class="panel-group" id="accordion">
                                {{#afEachArrayItem name="KMIInputsInfo.KMIGroupsInfo" minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                    {{> afQuickField name=this.current.parameterGroupName label=false options=afOptionsFromSchema readOnly=true}}</a>
                                                {{> afQuickField name=this.current.groupWeightage  options=afOptionsFromSchema }}

                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                {{#afEachArrayItem name=this.current.groupParameters minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                                                    <div>

                                                        <span>
                                                            {{> afQuickField name=this.current.parameterName  options=afOptionsFromSchema}}
                                                        </span>
                                                        <span>
                                                            {{> afQuickField name=this.current.parameterWeightage  options=afOptionsFromSchema}}
                                                        </span>
                                                    </div>

                                                    <table class="footable table table-stripped toggle-arrow-tiny"
                                                           data-page-size="8">
                                                        <thead>
                                                        <tr>
                                                            <th data-toggle="true">Type Of Measure</th>
                                                            <th>Description</th>
                                                            <th>Weightage</th>
                                                            <th>Min Exp Qty</th>
                                                            <th>Scoring Method</th>

                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {{#afEachArrayItem name=this.current.measure minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                                                            <tr>
                                                                <td>
                                                                    {{> afQuickField name=this.current.typeOfMeasure label=false }}

                                                                </td>
                                                                <td>
                                                                    {{> afQuickField name=this.current.measureDescription label=false options=afOptionsFromSchema}}

                                                                </td>
                                                                <td>
                                                                    {{> afQuickField name=this.current.measureWeightage label=false options=afOptionsFromSchema}}

                                                                </td>
                                                                <td>
                                                                    {{> afQuickField name=this.current.minimumExpectedQty label=false}}

                                                                </td>
                                                                <td>
                                                                    {{> afQuickField name=this.current.typeOfScore label=false}}

                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <th>Scoring Criteria</th>

                                                                <th>Start</th>
                                                                <th>End</th>
                                                                <th>Score</th>
                                                            </tr>

                                                            {{#afEachArrayItem name=this.current.scoringCriteria minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        {{> afQuickField name=this.current.startRange label=false options=afOptionsFromSchema}}

                                                                    </td>
                                                                    <td>
                                                                        {{> afQuickField name=this.current.endRange label=false options=afOptionsFromSchema}}

                                                                    </td>
                                                                    <td>
                                                                        {{> afQuickField name=this.current.score label=false options=afOptionsFromSchema}}

                                                                    </td>
                                                                    <td>

                                                                    </td>
                                                                </tr>
                                                            {{/afEachArrayItem}}
                                                            <td>


                                                                {{#if afArrayFieldHasLessThanMaximum name=this.current.scoringCriteria minCount=1 maxCount=''}}


                                                                    <button type="button"
                                                                            class="btn btn-primary autoform-add-item"
                                                                            data-autoform-field="{{this.current.scoringCriteria}}"
                                                                            data-autoform-minCount="{{this.atts.minCount}}"
                                                                            data-autoform-maxCount="{{this.atts.maxCount}}"><span
                                                                            class="">Add Row</span>
                                                                    </button>


                                                                {{/if}}
                                                            </td>
                                                            <tr>
                                                                <th>KMI Inputs</th>

                                                                <th>Actual</th>
                                                                <th>Expected</th>
                                                            </tr>
                                                            <tr>
                                                                <td >
                                                                </td>
                                                                <td>
                                                                    {{> afQuickField name=this.current.actualQty label=false }}

                                                                </td>
                                                                <td>
                                                                    {{> afQuickField name=this.current.minimumExpectedQty label=false readonly=true }}

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    {{> afQuickField name=this.current.expectedQuantityEval}}

                                                                </td>
                                                            </tr>

<!--
                                                            {{#afEachArrayItem name=this.current.expectedAndActual minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        {{> afQuickField name=this.current.actual label=false options=afOptionsFromSchema}}

                                                                    </td>
                                                                    <td>
                                                                        {{> afQuickField name=this.current.expected label=false options=afOptionsFromSchema}}

                                                                    </td>

                                                                    <td>

                                                                    </td>
                                                                </tr>
                                                            {{/afEachArrayItem}}
-->
<!--
                                                            <tr>
                                                                <td colspan="3">
                                                                    {{> afQuickField name=this.current.expectedQuantityEval}}
                                                                </td>

                                                            </tr>
-->
                                                        {{/afEachArrayItem}}

                                                        <td>
                                                            {{> afQuickField name=this.current.fileId }}
                                                        </td>
                                                        </tbody>
                                                    </table>
                                                {{/afEachArrayItem}}

                                            </div>
                                        </div>
                                    </div>
                                {{/afEachArrayItem}}

                            </div>
                        </div>


                        <!--
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>KMI Group</th>
                                <th>KMI Parameter</th>
                            </tr>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    Group Name
                                </th>
                                <th>
                                    Parameter Name
                                </th>
                               &lt;!&ndash; <th>
                                    Measure Type
                                </th>
                                <th>
                                    Weightage
                                </th>&ndash;&gt;
                            </tr>


                            </thead>
                            <tbody>
                            {{#afEachArrayItem name="KMIGroupsInfo" minCount=this.atts.minCount maxCount=this.atts.maxCount}}

                                <tr>
                                    <td>
                                        {{#if afArrayFieldHasMoreThanMinimum name="KMIGroupsInfo" minCount=0 maxCount=''}}
                                            <button type="button" class="btn btn-primary autoform-remove-item"><span
                                                    class="glyphicon glyphicon-minus"></span></button>
                                        {{/if}}
                                    </td>
                                    <td>
                                        {{> afQuickField name=this.current.parameterGroupName label=false options=afOptionsFromSchema}}
                                    </td>
                                <td>
                                {{#afEachArrayItem name=this.current.groupParameters minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                                    <tr>
                                        <td>
                                            {{> afQuickField name=this.current.parameterName label=false options=afOptionsFromSchema}}
                                        </td>
                                    <td>
                                    {{#afEachArrayItem name=this.current.measure minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                                        <tr>
                                            <td>
                                                {{> afQuickField name=this.current.typeOfMeasure label=false }}

                                            </td>
                                            <td>
                                                {{> afQuickField name=this.current.measureDescription label=false options=afOptionsFromSchema}}

                                            </td>
                                            <td>
                                                {{> afQuickField name=this.current.measureWeightage label=false options=afOptionsFromSchema}}

                                            </td>
                                            <td>
                                                {{> afQuickField name=this.current.typeOfScore label=false}}

                                            </td>
                                            <td>
                                                {{> afQuickField name=this.current.scoringCriteria label=false options=afOptionsFromSchema}}

                                            </td>
                                        </tr>
                                    {{/afEachArrayItem}}
                                    </td>

                                    </tr>
                                {{/afEachArrayItem}}
                                </td>

                                </tr>
                            {{/afEachArrayItem}}
                            {{#if afArrayFieldHasLessThanMaximum name="KMIGroupsInfo" minCount=0 maxCount=''}}
                                <tr>
                                    <th>
                                        <button type="button" class="btn btn-primary autoform-add-item"
                                                data-autoform-field="KMIGroupsInfo"
                                                data-autoform-minCount="{{this.atts.minCount}}"
                                                data-autoform-maxCount="{{this.atts.maxCount}}"><span
                                                class="glyphicon glyphicon-plus"></span></button>
                                    </th>
                                </tr>
                            {{/if}}
                            </tbody>
                        </table>
-->

                        <div>
                            <button class="btn btn-sm btn-white" type="submit">Submit</button>
                        </div>
                    {{/autoForm}}

                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Bar Chart Example</h5>
                    {{>iboxTools}}
                </div>
                <div class="ibox-content">
                    <div>
                        <canvas id="barChart" height="200">{{getChartData}}</canvas>
                    </div>
                </div>
            </div>

            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <i class="fa fa-trophy fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> KMI Score</span>
                        <h2 class="font-bold">{{getScore}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>